.origami-button {
	background-image: url('../assets/textures/red_paper--full-88c146d3f7e4930c1aeacfea7fb0f199.jpg');
    border-radius: 4px;
	color: #fff !important;
	cursor: pointer;
	cursor: hand;
	font-family: $font-akzidenz;
	font-size: 1.3rem;
	line-height: 2.1875rem;
	padding: 4px 35px;
	text-transform: uppercase;
	transition: none !important;
	vertical-align: middle;
	
	@media all and (max-width:$break-mobile) {
		font-size: 1.85rem;
		line-height: 1.85rem;
		padding: 7px 20px;
		margin-top: 5%;
	}
	
	&:hover {
		background-image: url('../assets/textures/cardboard--full-b9634961afe2722bd45c2987b63261b1.jpg');
	}
	
	&--has-icon {
		.origami-button__icon {
			fill: #fff;
			height: 28px;
			margin: 0 5px 0 0;
			width: 28px;
		}
	}
	
	&--is-social {
		display: inline-block;
		margin: 0 10px;
		padding: 10px 0 2px;
		text-align: center;
		width: 62px;
		
		.origami-button__icon {
			fill: #fff;
			height: 30px;
			margin: 0 auto;
			width: 30px;
		}
	}
	
	span {
		color: #fff;
	}
}