.origami-content {	
	background-color: #fff;
	background-image: url('#{$image-path}cream_paper.jpg');
	padding: 50px 0;
	
	@media all and (max-width:$break-tablet) {
		padding: 50px 0 0;
	}
	
	&__video {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 65px;
		
		@media all and (max-width:$break-tablet) {
			display: none;
		}
		
		&__frame {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		
		&--has-background {
			background-image: url('#{$image-path}origami-exhibit.jpg');
			background-size: cover;
		}
	}
}

.origami-content__container {
	background-image: url('#{$image-path}bg-paper.png');
	left: 50%;
	margin: 65px 0 0 -250px;
	min-height: 700px;
	padding: 35px 0 0;
	position: relative;
	text-align: center;
	top: 0;
	width: 500px;
	
	@media all and (max-width:$break-tablet) {
		left: 0;
		margin: 0;
		width: 100%;
	}
	
	&__donate {
		background-image: url('#{$image-path}cream_paper.jpg');
		padding: 25px 0 0 0;
	}
	
	.origami-button {
		font-size: 2rem;
	}
	
	.origami-body-text {
		padding: 0 25px 25px;
		
		&--no-bottom-padding {
			padding: 0 25px;
		}
	}
	
	.origami-header {
		color: $red;
		font-size: 5.25rem;
		line-height: 4.15rem;
		padding: 0 0 25px;
	
		@media all and (max-width:$break-tablet) {
			font-size: 4rem;
			padding: 0 0 15px;
		}
	}
	
	.origami-form-label {
		display: inline-block;
		padding: 0;
		width: 100%;
	}
	
	.origami-input {
		width: 100%;
	}
	
	.origami-share--image {
		height: auto;
		width: 100%;
	}
	
	.origami-sub-header {
		margin: 0 0 25px;
	}
	
	&__video {
		margin: 0 0 25px;
		position: relative;
		padding: 0 0 56.25%;
		height: 0;
		
		&__frame {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.origami-hidden {
	display: none;
}

/* New WCS Logo */
@media all and (min-width: 720px) {
	.menu__wcs-logo {
	    background: url(../images/wcs-campaign.png) no-repeat;
	    height: 38px;
	    margin: 15px 0 0;
	    width: 120px;
    }
	   
	.menu__wcs-logo::after {
		content: "";
	}
}
.origami-horizontal-rule {
	border-top: 1px solid #7fb2d0;
    margin: 25px auto 35px;
    width: 50%;

	&--partner {
	    border-top: 1px solid #8e7d64;
	 }
}