.origami-form {
	&__panel {
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all 0.2s ease-out;
		visibility: hidden;
	}
	
	&__panel--active {
		height: auto;
		opacity: 1;
		transition: all 0.2s ease-out;
		visibility: visible;
	}
}

.origami-input {
	appearance: none;
	background: #fff;
    border: 2px solid #d0cecc;
	border-radius: 2px;
	color: $dark-brown;
	font-family: $font-merriam;
	font-size: 1.25rem;
	line-height: 1.25rem;
	padding: 14px 18px 9px;
	transition: $default-transition;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin-right: 10px;
	vertical-align: middle;
	
	&--error {
		border: 2px solid $red;	
	}
	
	&--is-checkbox {
		background-position: center center;
		background-repeat: no-repeat;
	    display: inline-block;
		height: 22px;
		margin: 0 10px 0 0;
		padding: 0;
		width: 22px;
		vertical-align: top;
		
		&:checked {
			background-image: url('#{$image-path}check.png');
		}
	}
	
	
	&--is-dropdown {
		background-image: url('#{$image-path}arrow-down.png');
		background-position: right 10px top 50%;
		background-repeat: no-repeat;
	}
	
	&--is-radio {
		@extend .origami-input--is-checkbox;
	    border-radius: 50%;
	    
	    &:checked {
			background-image: url('#{$image-path}radio-circle.png');
		}
	}
	
	&::-webkit-input-placeholder,
	&--placeholder {
		color: #b5b4b2;	
	}
	
	&:focus {
		border: 2px solid #ada7a3;
		outline: none;
	}
}

.origami-signup {
	margin: 10px 0 40px;
}